[submodule "deps/math"]
	path = deps/math
	url = https://github.com/giuliom95/math
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json/
